<ng-template #listElements>

  <li>
    <a routerLink="/start" routerLinkActive="active-link">
      <app-svg-icon type="home"></app-svg-icon>
      Startseite
    </a>
  </li>

  <li>
    <a routerLink="/contact" routerLinkActive="active-link">
      <app-svg-icon type="contact"></app-svg-icon>
      Kontakt
    </a>
  </li>

  <li>
    <a routerLink="/faq" routerLinkActive="active-link">
      <app-svg-icon type="question"></app-svg-icon>
      FAQ
    </a>
  </li>

</ng-template>

<ul class="nav-list">
  <ng-container *ngTemplateOutlet="listElements"></ng-container>
</ul>


<div class="burger-menu">

  <button [attr.id]="'MenuButton'" popovertarget="Menu" class="burger-button">
    <app-svg-icon type="menu"></app-svg-icon>
  </button>

  <dialog [attr.id]="'Menu'" popover>
    <ul class="menu-list">
      <ng-container *ngTemplateOutlet="listElements"></ng-container>
    </ul>
  </dialog>

  <!-- <div class="page-name">{{ pageService.name$ | async }}</div> -->

</div>
