
@if (infoService.nextEvent() | async; as nextEvent) {
  <div class="next-event-container">

    <h2>Nächster Termin:</h2>

    <app-compartement title="Wann">
      <div class="date">{{ nextEvent.dateFrom }} <span class="weekday">({{nextEvent.dateFromWeekDay}}.)</span></div>
      <div class="start-time">{{ nextEvent.startTime }}</div>
    </app-compartement>

    <app-compartement title="Wo">
      <div class="location">{{ nextEvent.location }}</div>
    </app-compartement>

  </div>
}


<!-- @if (infoService.news$ | async; as newsArr) {
  <div class="news-container">
    @for (newsObj of newsArr; track $index; let i = $index) {
      <div class="news-item">
        <div class="news-item">{{ newsObj.html }}</div>
      </div>
    }
  </div>
} -->

<div class="future-events-container">



</div>

@if (infoService.futureEvents() | async; as eventsArr) {
  <div class="events-container">
    <h2>Kommende Termine:</h2>
    @if (eventsArr.length > 0) {
      @for (event of eventsArr; track $index; let i = $index) {
        <div class="event">
          <div class="name">Nr. {{ event.number }}</div>
          <div class="date">Am: {{ event.dateFrom }}</div>
        </div>
      }
    } @else {
      <div>Keine weitere Termine geplant</div>
    }
  </div>
}



@if (infoService.faqs$ | async; as faqsArr) {
  <div class="faqs-container">
    <h2>Häufig gestellte Fragen:</h2>
    @for (faq of faqsArr; track $index; let i = $index) {
      <div class="faq">
        <div class="question">{{ faq.questionHtml }}</div>
        <div class="answer">{{ faq.answerHtml }}</div>
      </div>
    }
  </div>
}
