
:host {

  .next-event-container {

    margin-top: 4ch;
    display: flex;
    flex-direction: row;
    gap: 2ch;
    flex-wrap: wrap;

    main {

      width: clamp(340px, 100%, 36vw);

      display: flex;
      flex-direction: column;
      gap: 1ch;

      border: 2px solid var(--gb-blue);
      border-radius: 5px;

      padding: 2ch;
      transition: box-shadow 300ms ease-in;

      h2 {
        font-size: 2rem;
        padding: 5px 0;
      }

      &:hover, &:focus-visible, &:focus-within {
        box-shadow: 2px 2px 4px rgb(171, 171, 171);
      }
    }

    aside {
      margin-left: auto;
    }

  }

  .events-container {

    margin-top: 4ch;
    display: flex;
    flex-direction: row;
    gap: 2ch;
    flex-wrap: wrap;

    .container-content {

      display: flex;
      flex-direction: column;
      gap: 1ch;

      .event {
        display: flex;
        flex-wrap: wrap;
        gap: 2ch;
      }

    }

    aside {
      margin-left: auto;
    }

  }

  .faqs-container {

    margin-top: 4ch;
    display: flex;
    flex-direction: column;
    gap: 1ch;

    .container-content {

      display: flex;
      flex-direction: column;
      gap: 3ch;

      .faq {

        display: flex;
        flex-direction: column;

        --color: var(--secondary);
        background: linear-gradient(
          135deg, var(--color) 0%,
          lch(from var(--color) calc(l + 8) c h) 50%,
          var(--color) 100%
        );

        border-radius: 0.5rem;
        overflow: hidden;

        transition: box-shadow 300ms ease-in;

        &:hover, &:focus-visible, &:focus-within {
          box-shadow: 2px 2px 4px rgb(171, 171, 171);
        }

        .question {
          font-size: 1.2rem;

          --color: rgb(197, 197, 197);
          background: linear-gradient(
            135deg, var(--color) 0%,
            lch(from var(--color) calc(l + 8) c h) 50%,
            var(--color) 100%
          );
          padding: 0.5rem 1rem;
        }

        .answer {
          font-size: 1.4rem;
          font-style: italic;
          padding: 0.5rem 1rem;
        }
      }

    }

  }

  & > *:last-of-type {
    margin-bottom: 4ch;
  }


}
